<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>QL_DienMayXanh</title>
    <link rel="shortcut icon" type="image/x-icon" href="/lib/logo_DMXfake.ico" />
    <link rel="stylesheet" href="~/content/css/site.css" />
    <link rel="stylesheet" href="~/content/css/CustomerLayout_Styles.css" />
    <link rel="stylesheet" href="~/content/css/Home_Styles.css" />
    <link rel="stylesheet" href="~/content/css/style_product.css" />
    <link rel="stylesheet" href="~/content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/content/lib/owlCaroousel/owl.theme.default.css" />
    <link rel="stylesheet" href="~/content/lib/owlCaroousel/owl.carousel.css" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap" />

    @using Web_DienMayXanh.Models;
</head>
<body>
    <div class="main">
        <div class="header h-auto wrapper-header" style="font-size: 1.4rem; position: fixed; width: 100%; z-index: 4; top: 0;">
            @*<div class="top-header container">
                    <div class="row">
                        <div class="col-6">
                            <div class="top-header-left">
                                <div class="top-header-item">
                                    <a href="#">Địa điểm / Tồn Kho</a>
                                </div>
                                <div class="top-header-item">
                                    <a href="#">Hỗ trợ: **********</a>

                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="top-header-right">
                                <div class="top-header-item">
                                    <a href="#">Giới Thiệu</a>
                                </div>
                                <div class="top-header-item">
                                    <a href="#">Dịch vụ</a>

                                </div>
                                <div class="top-header-item">
                                    <a href="#">FAQ</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
            <div class="header-wrapper container">
                <div class="top-header-wrapper">
                    <div class="row top-header-wrapper-item align-items-center">
                        <div class="col-4">
                            @*<h1 style="color: #fff200;">ĐIENMAYXANH</h1>*@
                            <a href="/Customer/CustomerHome">
                                <img src="~/content/img/logohead.png" />
                            </a>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col input-group">
                                    <form action="/Customer/XyLyTimKiem" method="post" class="d-flex position-relative" style="width:100%">
                                        <input type="text" name="txtTimKiem" class="form-control border rounded" style="height:32px; font-size:14px" placeholder="Nhập sản phẩm..." aria-label="search-product">
                                        <button class="btn btn-item position-absolute" style="right:0; top:-3px" type="submit">
                                            <i class="fa-solid fa-magnifying-glass" style="color:black; font-size:14px"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="align-items-center">
                                <div class="d-flex justify-content-end m-0 w-100">
                                    <div class=" w-auto text-center list-unstyled text-light d-flex align-items-center ">
                                        <a class="btn_header">
                                            <span>Lịch sử mua hàng</span>
                                        </a>
                                    </div>
                                    <div class=" w-auto text-center list-unstyled text-light d-flex align-items-center position-relative ">
                                        <a class="btn_header" style="color:#fff" href="/Customer/CartProduct">
                                            <i class="fa-solid fa-cart-shopping" style="font-size:18px"></i>
                                            <span> Giỏ Hàng</span>
                                            <label style=" position: absolute; bottom: 25px; left: 42px; border-radius: 50%; text-align: center; /* display: flex; */ justify-items: center; align-items: center;">
                                                @{
                                                    GioHang gh = Session["GioHang"] as GioHang;
                                                    if (gh != null)
                                                    {
                                                        <span style=" font-size: 15px; font-weight: 800; color: red;">@gh.tongSLSP()</span>
                                                    }
                                                    else
                                                    {
                                                        <span style=" font-size: 15px; font-weight: 800; color: red;">0</span>
                                                    }
                                                }
                                            </label>
                                        </a>
                                    </div>
                                    <div class="list-unstyled h-100 text-light d-flex align-items-center">

                                        <a class="btn_header">
                                            <i class="fa-solid fa-user" style="font-size:18px"></i>
                                            <span>Tài khoản</span>
                                        </a>
                                    </div>

                                    @*<div class="findProduct d-flex align-items-center">
                                            <div class="dropdown show">
                                                <a class="dropdown-toggle" style="border:1px solid;border-radius:5px; height:24px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span style="color:#ffff; font-size:14px; font-weight:500">Tìm Kiếm</span>

                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-header" style="height:45px">
                    <div class="row align-items-center" style="height:100%">
                        <div class="col-3 menu-header-left">
                            @{
                                Html.RenderAction("RenderMenu", "Customer");
                            }
                            @*<div class="btn-menu row d-flex">
                                    <div class="col-2 text-light text-right">
                                        <i class="fa-solid fa-bars" style="font-size: 18px; line-height: 0; float: left; position: relative; top: 8px;"></i>
                                    </div>
                                    <div class="col-10 text-light pl-0">
                                        <a style="font-size:18px; font-weight:700">Menu</a>
                                    </div>
                                </div>*@
                            <!--<div class="navbar navbar-default" style="display:block; flex-wrap:nowrap; padding:0;" role="navigation">
                                <div class="navbar-header">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown" style="z-index:1">-->
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>*@
                            <!--<a class="hover-menu" href="#">
                                            <div class="dropdown-toggle btn-menu row d-flex" data-toggle="dropdown">
                                                <div class="col-3 text-light text-right texthover">
                                                    <i class="fa-solid fa-bars text" style="font-size: 28px; line-height: 0; top: 8px;"></i>
                                                </div>
                                                <div class="col-9 text-light texthover pl-0">
                                                    <span class="text" style="font-size:14px;">Tất cả danh mục</span>
                                                </div>
                                            </div>

                                        </a>
                                        <ul class="dropdown-menu" style="border: 1px solid #f3f3f3; border-radius: 10px; opacity: 1; width: 330px;">
                                            <li class="dropdown-menu-item"><a href="#">Tivi, Loa</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Tủ lạnh, Tủ đông</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Máy giặc, Sấy quần áo</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Đồ dùng nhà bếp, Bếp điện</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Phụ kiện, Đồng hồ</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Điện thoại, Laptop</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Điện thoại, Laptop</a></li>
                                            <li class="dropdown-menu-item"><a href="#">Điện thoại, Laptop</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>-->
                            <!--/.nav-collapse -->
                            <!--</div>-->

                        </div>
                        <div class="col-9">
                            @{
                                Html.RenderAction("RenderMenuNgang", "Customer");
                            }
                            @*<div class="row justify-content-start" style="margin-left:-6px">
                                    <ul class="d-flex h-auto w-auto m-0 p-2">
                                        <li class="mr-4 w-auto text-center list-unstyled text-light d-flex ">
                                            <div class="mr-2"> <i class="fa-solid fa-house-user"></i></div>
                                            <div class="">
                                                <a class="text-decoration-none text-light  textMenu" href="/Customer/CustomerHome">Home</a>
                                            </div>
                                            @Html.ActionLink("Home", "CustomerHome", "Customer");
                                        </li>
                                        <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                            <div class="mr-2">
                                                <i class="fa-solid fa-laptop"></i>
                                            </div>
                                            <div>
                                                <a class="text-decoration-none text-light  textMenu" href="/Customer/Product">LapTop/Computer</a>
                                            </div>
                                        </li>
                                        <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                            <div class="mr-2"> <i class="fa-solid fa-mobile"></i></div>
                                            <div>
                                                <a class="text-decoration-none text-light  textMenu" href="#">Điện Thoai</a>
                                            </div>
                                        </li>
                                        <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                            <div class="mr-2"><i class="fa-solid fa-tv"></i></div>
                                            <div>
                                                <a class="text-decoration-none text-light textMenu" href="">TiVi</a>
                                            </div>
                                        </li>
                                        <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                            <div class="mr-2"><i class="fa-solid fa-kitchen-set"></i></div>
                                            <div>
                                                <a class="text-decoration-none text-light textMenu" href="">Gia Dụng</a>
                                            </div>
                                        </li>
                                        <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                            <div class="mr-2">
                                                <a class="text-decoration-none text-light font- textMenu" href="">Máy Giặt</a>
                                            </div>
                                        </li>
                                        <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                            <div class="mr-2">
                                                <a class="text-decoration-none text-light  textMenu" href="">Máy Lạnh</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="body-wrapper W-100 h-auto" style="position: relative; max-width: 100%; top: 118px;">
            @RenderBody()
        </div>

        <div class="footer position-relative " style="background-color: #1154c4; top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div>
                            <a href="/Customer/CustomerHome">
                                <img src="~/content/img/logohead.png" />
                            </a>
                        </div>

                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <span>
                                <a class="text-footer">Giới thiệu</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <span>
                                <a class="text-footer">Hỗ Trợ</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style=" font-size: 14px; font-weight: 600; color: #fff;">
                    &copy; 2022 - QL_DienMayXanh - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>

            </div>
        </div>
    </div>
    <script src="~/content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/content/js/site.js" asp-append-version="true"></script>
    <script src="~/content/js/site.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl carousel -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel-2').owlCarousel({
                loop: true,
                //margin: 0,
                //responsiveClass: true,
                items: 4,
                loop: true,
                margin: 0,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true
                //responsive: {
                //    0: {
                //        items: 1,
                //    },
                //    768: {
                //        items: 2,
                //    },
                //    1100: {
                //        items: 3,
                //        loop: false,
                //    }
                //}
            });
            $('.owl-carousel-1').owlCarousel({
                loop: true,
                //margin: 0,
                //responsiveClass: true,
                items: 4,
                loop: true,
                margin: 0,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true
                //responsive: {
                //    0: {
                //        items: 1,
                //    },
                //    768: {
                //        items: 2,
                //    },
                //    1100: {
                //        items: 3,
                //        loop: false,
                //    }
                //}
            })
        });


    </script>


    <script src="~/content/lib/owlCaroousel/owl.carousel.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
