<div class="navbar navbar-default" style="display:block; flex-wrap:nowrap; padding:0;" role="navigation">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="dropdown" style="z-index:1">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>*@
                <a class="hover-menu" href="#">
                    <div class="dropdown-toggle btn-menu row d-flex" data-toggle="dropdown">
                        <div class="col-3 text-light text-right texthover">
                            <i class="fa-solid fa-bars text" style="font-size: 28px; line-height: 0; top: 8px;"></i>
                        </div>
                        <div class="col-9 text-light texthover pl-0">
                            <span class="text" style="font-size:14px;">Tất cả danh mục</span>
                        </div>
                    </div>

                </a>
                <ul class="dropdown-menu" style="border: 1px solid #f3f3f3; border-radius: 10px; opacity: 1; width: 330px;">
                    @foreach (var item in ViewBag.dsDM)
                    {
                    <li class="dropdown-menu-item"><a href="/Customer/ProductToMenu/?ID_DM=@item.ID_DM_SP">@item.Ten_DanhMuc</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
