@using Web_DienMayXanh.Models;
@{
    ViewBag.Title = "XyLyTimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<QL_SanPham>
<div class="container">
    <div class="" style="min-height:704px">
        <div class="mt-4">
            <div class="">
                <h4 style="">Sản phẩm Tìm Kiếm</h4>
            </div>
        </div>
        <div class="d-flex" style="flex-wrap:wrap">
            @foreach (QL_SanPham SANPHAM in Model)
            {
            <div class=" " style="width:224px">
                
                <div class="  list-product" style="margin:10px">
                    <a class="product-hover" href="/Customer/ModalProduct/?ID_SP=@SANPHAM.ID_SP">
                        <div class=" list-product-img">
                            <div>
                                <img class="img-product" style="width:166px" src="@SANPHAM.HINH_SP" />
                            </div>
                        </div>
                        <div class="" style="padding:0 0 0 15px">
                            <span style="font-size:14px; font-weight:500">@SANPHAM.TenSP</span>
                        </div>
                    </a>
                    <div class="row">
                        <div class="col-8">

                            <span style="font-size:16px; font-weight:700">@SANPHAM.DG_Ban đ</span>
                        </div>
                        <div class="col-4">
                            <a href="/Customer/ChonMua/@spNB.ID_SP" class="btn btn-primary" style="font-size:8px">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col" style="justify-content:center">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>*@

                </div>
                   
                </div>}
        </div>
    </div>
</div>